@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
	background-color: #000000;
	color: #3d736e;
	text-shadow: -2px 0px 5px rgb(255 255 255 / 80%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}


